[Unit]
Description=Centec modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-ieu-ctc8180 start
ExecStop=-/etc/init.d/platform-modules-ieu-ctc8180 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
